extends ../layouts/common.pug

block content
  h1.d-flex.justify-content-between.align-items-center
    span Group List
    a.btn.btn-primary(href="/transaction/create") New
  table.table.table-hover
    thead
      tr 
        th Name
        th Group
        th Amount
        th Note
        th Time
        th Update
        th Delete
    tbody
      each transaction in transactions
        tr
          td= transaction.userId
          td= transaction.groupId
          td= transaction.amount
          td= transaction.note
          td= transaction.time
          td
            a(href=`/transaction/${transaction._id}/update`) Sửa
          td
            a(href=`/transaction/${transaction._id}/delete`) Xóa